IgcRestApi/obj/
IgcRestApi/bin/
.vs/
IgcRestApi.UnitTests/bin/
IgcRestApi.UnitTests/obj/
IgcRestApi/appsettings.json
Aggregator/bin/
Aggregator/obj/
IgcRestApi/IgcRestApi.csproj.user
IgcRestApi.sln.DotSettings.user
*.log
TraceAggregator.Tests/bin/
TraceAggregator.Tests/obj/
